:root {
  background-color: black;
  color: white;
}

.pulse {
  animation: pulse 1.5s infinite ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(3);
    opacity: 1;
  }

  50% {
    transform: scale(6);
    opacity: 0.6;
  }

  100% {
    transform: scale(3);
    opacity: 1;
  }
}


.bola {
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: bounce 2s ease-in-out infinite alternate,
             shine 3s ease-in-out infinite;
}

@keyframes bounce {
  0% { transform: translateY(0) scale(1); }
  50% { transform: translateY(-20px) scale(3); }
  100% { transform: translateY(0) scale(1); }
}

@keyframes shine {
  0%, 100% { box-shadow: 0 0 5px #ff0000; }
  50% { box-shadow: 0 0 20px #ffaaaa; }
}
